<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Voxly Development Test</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Input form</a>
      <a class="nav-item nav-link" href="results">Results</a>
    </div>
  </div>
</nav>

<!-- 
<div style="text-align:center">
  <h1>
    Voxly development test
  </h1>
</div> 
-->

<div class="row">
  <div class="col-8 offset-2">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- 
<voxly-input-form></voxly-input-form>

<voxly-results></voxly-results> -->